beautifulsoup4==4.9.3
cached-property==1.5.2
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
h5py==3.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
Keras==2.4.3
MarkupSafe==1.1.1
nltk==3.5
numpy==1.20.0
PyYAML==5.4.1
regex==2020.11.13
scikit-learn==0.24.1
scipy==1.6.0
soupsieve==2.1
threadpoolctl==2.1.0
tqdm==4.56.0
Werkzeug==1.0.1
